<template>
    <div>
        <v-form
            id="commentForm"
            ref="form"
            @submit.prevent="submitCommentMethod"
        >
            <v-card
                v-show="showTextBox"
                data-testid="commenttextbox"
                class="mx-auto mb-4"
                light
                width="100%"
                data-cy="comment-textbox"
            >
                <v-card-title data-cy="comment-textbox-title"
                    >Enter comment</v-card-title
                >

                <v-textarea
                    id="commentFromTextboxToSubmit"
                    v-model="writingComment"
                    flat
                    solo
                    clearable
                ></v-textarea>

                <v-card-actions>
                    <v-btn
                        class="ma-2"
                        color="grey white--text"
                        light
                        @click="showTextBoxMethod"
                    >
                        Cancel
                    </v-btn>
                    <v-btn
                        type="submit"
                        class="ma-2"
                        color="purple white--text"
                        light
                        form="commentForm"
                        data-cy="add-comment-button"
                    >
                        Send
                    </v-btn>
                </v-card-actions>
            </v-card>

            <div class="buttonPosition">
                <v-btn
                    data-testid="addcommentbutton"
                    data-cy="add-comment"
                    class="ma-2"
                    color="purple white--text"
                    light
                    @click="showTextBoxMethod"
                >
                    Comment
                    <v-icon light right> mdi-comment </v-icon>
                </v-btn>
            </div>
        </v-form>
    </div>
</template>

<script>
import { mapState } from "vuex"
export default {
    name: "AddComment",
    props: {
        articleId: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            showTextBox: false,
            writingComment: "",
        }
    },
    computed: { ...mapState(["user"]) },

    methods: {
        showTextBoxMethod() {
            this.showTextBox = !this.showTextBox
            this.writingComment = ""
        },

        async getCurrentUser() {
            const userId = this.user.uid
            const userRef = this.$fire.database.ref(`users/${userId}`)
            try {
                const userSnapshot = await userRef.once("value")
                return userSnapshot.val()
            } catch (e) {
                console.error(e)
            }
        },
        async submitCommentMethod() {
            const userInfo = await this.getCurrentUser()
            const articleId = this.articleId
            // console.log(userInfo)
            const payload = {
                profileImage: userInfo.profileImage
                    ? userInfo.profileImage
                    : "",
                author: userInfo.fullname,
                content: this.writingComment,
                createdAt: new Date().toLocaleString(),
            }
            const commentRef = this.$fire.database.ref("comments")
            const articleCommentRef = this.$fire.database.ref(
                `article_comment/${articleId}`
            )
            try {
                const { key: commentId } = await commentRef.push(payload)
                // console.log(commentId)
                await articleCommentRef.update({ [commentId]: true })
                location.reload()
            } catch (e) {
                console.error(e)
            }
        },
    },
}
</script>

<style scoped>
.buttonPosition {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1%;
}
</style>
