/* eslint-disable vue/no-v-html */
<template>
    <v-flex d-flex xs12 sm6 md4 lg4>
        <v-card data-cy="article-card">
            <v-img :src="articleInfo.imageLink"></v-img>
            <v-card-title>
                {{ articleInfo.title }}
            </v-card-title>
            <v-card-subtitle> {{ articleInfo.author }} </v-card-subtitle>

            <v-card-text
                v-if="articleInfo.content.length < 100"
                v-html="articleInfo.content"
            >
            </v-card-text>
            <v-card-text v-else v-text="articleInfo.content.substring(0, 200)">
            </v-card-text>

            <v-card-actions>
                <v-card-text> {{ articleInfo.createdAt }} </v-card-text>

                <v-spacer></v-spacer>

                <v-btn text>
                    <nuxt-link
                        :to="`/article/${articleInfo.id}`"
                        class="articleCardReadMore"
                    >
                        Read more</nuxt-link
                    >
                </v-btn>
            </v-card-actions>
        </v-card>
    </v-flex>
</template>

<script>
export default {
    name: "ArticleCard",
    props: {
        articleInfo: {
            type: Object,
            required: true,
        },
    },
}
</script>

<style lang="scss">
.articleCardReadMore {
    text-decoration: none;
    color: #000 !important;
}
</style>

<style scoped>
.marginBottom {
    margin-bottom: 2cm;
}

.noPadding {
    padding: 0%;
}
</style>
