<template>
    <v-card class="mx-auto mb-4" light width="100%" data-cy="comment">
        <v-list-item>
            <v-list-item-avatar color="grey darken-3">
                <v-img alt="profile-picture" :src="avatar"></v-img>
            </v-list-item-avatar>

            <v-list-item-content>
                <v-list-item-title>
                    {{ commentInfo.author }}
                </v-list-item-title>
                <v-list-item-subtitle>
                    {{ commentInfo.createdAt }}
                </v-list-item-subtitle>
            </v-list-item-content>
        </v-list-item>

        <v-card-text class="text">
            {{ commentInfo.content }}
        </v-card-text>

        <v-card-actions>
            <v-btn
                v-if="showDeleteButton"
                data-testid="deletecommentbutton"
                data-cy="delete-comment"
                text
                @click="deleteCommentMethod"
            >
                Delete
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    name: "Comment",
    props: {
        commentInfo: {
            type: Object,
            required: true,
        },
        articleId: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            avatar: "",
        }
    },
    async mounted() {
        this.avatar = await this.getAvatarURL()
    },
    methods: {
        showDeleteButton() {
            const currentUser = this.getCurrentUser()
            return this.commentInfo.fullname === currentUser.fullname
        },
        async getCurrentUser() {
            const userId = this.user.uid
            const userRef = this.$fire.database.ref(`users/${userId}`)
            try {
                const userSnapshot = await userRef.once("value")
                return userSnapshot.val()
            } catch (e) {
                console.error(e)
            }
        },
        async deleteCommentMethod() {
            const articleId = this.articleId
            const commentId = this.commentInfo.id

            const commentIdRef = this.$fire.database.ref(
                `article_comment/${articleId}`
            )
            const commentRef = this.$fire.database.ref("comments")
            try {
                // comments
                await commentRef.update({
                    [commentId]: null,
                })
                // commentIds
                await commentIdRef.update({
                    [commentId]: null,
                })

                location.reload()
            } catch (e) {
                console.error(e)
            }
        },
        async getAvatarURL() {
            const { commentInfo } = this
            if (commentInfo && commentInfo.profileImage) {
                return commentInfo.profileImage
            }
            const userAvatar = this.$fire.storage.ref(
                "static/unknown_user_avatar.jpeg"
            )
            try {
                return await userAvatar.getDownloadURL()
            } catch (e) {
                console.error(e)
            }
        },
    },
}
</script>
