<template>
    <div class="buttonPosition">
        <v-btn
            data-testid="createbutton"
            class="ma-2"
            color="purple white--text"
            light
            to="profile/compose"
            nuxt
        >
            Compose Article
            <v-icon light right> mdi-plus </v-icon>
        </v-btn>
    </div>
</template>

<script>
export default {
    name: "CreateButton",
}
</script>

<style scoped>
.buttonPosition {
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}
</style>
