<template>
    <v-app-bar
        height="100"
        class="center-app-bar top-thin-bar bg-white"
        bottom="bottom"
        elevation="0"
    >
        <v-toolbar-title data-cy="footer-text">
            <strong>hotcoffee</strong> 2022 copyright all rights reserved
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn
            v-for="icon in icons"
            :key="icon"
            class="mx-4"
            icon
            data-cy="footer-icons"
        >
            <v-icon size="24px">
                {{ icon }}
            </v-icon>
        </v-btn>
    </v-app-bar>
</template>

<script>
export default {
    data: () => ({
        icons: ["mdi-facebook", "mdi-twitter", "mdi-linkedin", "mdi-instagram"],
        bottom: true,
    }),
}
</script>

<style scoped>
.top-thin-bar {
    box-shadow: unset !important;
    border-top: 1px solid #aaa;
}

.center-app-bar {
    padding: 0 7%;
}
</style>
