<template>
    <div>
        <div class="cover-layout">
            <img src="/article-2.png" />
        </div>
        <div class="center pageComponents">
            <h1 class="header">{{ fullArticleInfo.title }}</h1>
            <div class="author-date">
                <h2 class="author">Written by {{ fullArticleInfo.author }}</h2>
                <h2 class="date">{{ fullArticleInfo.createdAt }}</h2>
            </div>
            <hr />
            <p class="main-text">
                Section 1.10.32 of "de Finibus Bonorum et Malorum", written by
                Cicero in 45 BC "Sed ut perspiciatis unde omnis iste natus error
                sit voluptatem accusantium doloremque laudantium, totam rem
                aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
                voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
                quia consequuntur magni dolores eos qui ratione voluptatem sequi
                nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor
                sit amet, consectetur, adipisci velit, sed quia non numquam eius
                modi tempora incidunt ut labore et dolore magnam aliquam quaerat
                voluptatem. Ut enim ad minima veniam, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, nisi ut
                aliquid ex ea commodi consequatur? Quis autem vel eum iure
                reprehenderit qui in ea voluptate velit esse quam nihil
                molestiae consequatur, vel illum qui dolorem eum fugiat quo
                voluptas nulla pariatur?"
            </p>
            <p class="main-text">
                1914 translation by H. Rackham "But I must explain to you how
                all this mistaken idea of denouncing pleasure and praising pain
                was born and I will give you a complete account of the system,
                and expound the actual teachings of the great explorer of the
                truth, the master-builder of human happiness. No one rejects,
                dislikes, or avoids pleasure itself, because it is pleasure, but
                because those who do not know how to pursue pleasure rationally
                encounter consequences that are extremely painful. Nor again is
                there anyone who loves or pursues or desires to obtain pain of
                itself, because it is pain, but because occasionally
                circumstances occur in which toil and pain can procure him some
                great pleasure. To take a trivial example, which of us ever
                undertakes laborious physical exercise, except to obtain some
                advantage from it? But who has any right to find fault with a
                man who chooses to enjoy a pleasure that has no annoying
                consequences, or one who avoids a pain that produces no
                resultant pleasure?"
            </p>

            <p class="sub-header">Other articles by this author</p>

            <v-container grid-list-xl class="marginBottom noPadding">
                <v-layout row wrap>
                    <article-card
                        :article-info="fullArticleInfo"
                    ></article-card>
                    <article-card
                        :article-info="fullArticleInfo"
                    ></article-card>
                    <article-card
                        :article-info="fullArticleInfo"
                    ></article-card>
                </v-layout>
            </v-container>

            <p class="sub-header">Comments</p>
            <v-container grid-list-xl class="marginBottom noPadding">
                <v-layout column>
                    <comment
                        v-for="(comment, i) in fullArticleInfo.comments"
                        :key="i"
                        :comment-info="{ ...comment, id: i }"
                        :article-id="fullArticleInfo.id"
                    ></comment>
                </v-layout>
            </v-container>

            <add-comment :article-id="fullArticleInfo.id"></add-comment>
        </div>
    </div>
</template>

<script>
import AddComment from "../components/AddComment.vue"
import ArticleCard from "../components/ArticleCard.vue"
import Comment from "../components/Comment.vue"

export default {
    name: "OldFullArticle",
    components: { AddComment, ArticleCard, Comment },
    props: {
        fullArticleInfo: {
            type: Object,
            required: true,
        },
    },
    data: () => ({
        articles: [],
    }),
}
</script>

<style scoped>
.header {
    font-family: Inter, Sans-serif;
    margin-left: 5%;
    margin-top: 5%;

    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;

    color: #000;
}

.sub-header {
    margin: 5%;

    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    max-height: 380px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.main-text {
    margin: 5%;
    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* color: #718096; */
    color: #2d3748;
}

.author-date {
    margin-left: 5%;
}

.author {
    float: left;
    margin-right: 5%;

    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #2d3748;
}

.date {
    margin: 2%;
    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #718096;
}
</style>
