<template>
    <v-card max-width="1490px" height="390px" class="marginBottom">
        <v-row>
            <v-col cols="7">
                <div class="cardPadding">
                    <v-card-title> {{ firstArticleInfo.title }} </v-card-title>
                    <v-card-subtitle>
                        {{ firstArticleInfo.author }}
                    </v-card-subtitle>

                    <v-card-text v-if="firstArticleInfo.content.length < 100">
                        {{ firstArticleInfo.content }}..
                    </v-card-text>
                    <v-card-text v-else>
                        {{
                            firstArticleInfo.content.substring(0, 100) + "..."
                        }}..
                    </v-card-text>
                    <v-card-actions>
                        <v-card-text>
                            {{ firstArticleInfo.createdAt }}
                        </v-card-text>

                        <v-spacer></v-spacer>

                        <v-btn text>
                            <nuxt-link
                                to="/article/complex_id1"
                                class="articleCardReadMore"
                            >
                                Read more</nuxt-link
                            >
                        </v-btn>
                    </v-card-actions>
                </div>
            </v-col>

            <v-col cols="5" class="noPadding">
                <v-img src="/firstArticle.jpg" height="390px"></v-img>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
export default {
    name: "HorizontalCard",
    props: {
        firstArticleInfo: {
            type: Object,
            required: true,
        },
    },
}
</script>

<style scoped>
.marginBottom {
    margin-bottom: 2cm;
}

.noPadding {
    padding: 0%;
}

.cardPadding {
    padding: 5%;
}
</style>
