<template>
    <v-card max-width="1490px" height="780px" class="marginBottom">
        <v-row>
            <v-col cols="6">
                <div class="cardPadding">
                    <v-card-title> {{ lastArticleInfo.title }} </v-card-title>
                    <v-card-subtitle>
                        {{ lastArticleInfo.author }}
                    </v-card-subtitle>

                    <v-card-text v-if="lastArticleInfo.content.length < 100">
                        {{ lastArticleInfo.content }}..
                    </v-card-text>
                    <v-card-text v-else>
                        {{
                            lastArticleInfo.content.substring(0, 100) + "..."
                        }}..
                    </v-card-text>
                    <v-card-actions>
                        <v-card-text>
                            {{ lastArticleInfo.createdAt }}
                        </v-card-text>

                        <v-spacer></v-spacer>

                        <v-btn text>
                            <nuxt-link
                                :to="`/article/${lastArticleInfo.id}`"
                                class="articleCardReadMore"
                            >
                                Read more</nuxt-link
                            >
                        </v-btn>
                    </v-card-actions>
                </div>
            </v-col>

            <v-col cols="6" class="noPadding">
                <v-img src="/lastArticle.jpg" height="780px"></v-img>
            </v-col>
        </v-row>
    </v-card>
</template>

<script>
export default {
    name: "HorizontalCardBig",
    props: {
        lastArticleInfo: {
            type: Object,
            required: true,
        },
    },
}
</script>

<style scoped>
.marginBottom {
    margin-bottom: 2cm;
}

.noPadding {
    padding: 0%;
}

.cardPadding {
    padding: 12% 5%;
    margin: auto;
}
</style>
