<template>
    <div data-testid="fileUploader">
        <!-- slot for parent component to activate the file changer -->
        <div @click="launchFilePicker()">
            <slot name="activator"></slot>
        </div>
        <!-- image input: style is set to hidden and assigned a ref so that it can be triggered -->
        <input
            ref="file"
            type="file"
            accept=".png,.jpeg,.jpg"
            :name="uploadFieldName"
            style="display: none"
            @change="onFileChange($event.target.name, $event.target.files)"
        />
        <!-- error dialog displays any potential error messages -->
        <v-dialog v-model="errorDialog" max-width="300">
            <v-card>
                <div class="text-center px-4 pt-6">{{ errorText }}</div>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn elevation="0" text @click="errorDialog = false">
                        OK
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
export default {
    name: "AdminImageUploader",
    props: {
        value: {
            type: Object,
            default: () => {},
        },
    },
    data: () => ({
        errorDialog: null,
        errorText: "",
        uploadFieldName: "file",
        maxSize: 1024,
    }),
    methods: {
        launchFilePicker() {
            // console.log(this.$refs.file)
            this.$refs.file.click()
        },
        onFileChange(fieldName, files) {
            // console.log(files[0].name)
            const { maxSize } = this
            const imageFile = files[0]

            if (files.length <= 0) return

            const size = imageFile.size / maxSize / maxSize
            if (!imageFile.type.match("image.*")) {
                // check whether the upload is an image
                this.errorDialog = true
                this.errorText = "Please, pick and image"
            } else if (size > 2) {
                // check whether the size is greater than the size limit
                this.errorDialog = true
                this.errorText =
                    "You file is too big! Please, use a picture of size below 2MB"
            } else {
                const metadata = {
                    contentType: imageFile.type,
                }

                // Append file into FormData and turn file into image URL
                const storage = this.$fire.storage
                const imageRef = storage.ref(`images/${imageFile.name}`)
                const uploadTask = imageRef
                    .put(imageFile, metadata)
                    .then((snapshot) => {
                        return snapshot.ref.getDownloadURL().then((url) => url)
                    })
                    .catch((error) => {
                        console.error("Error uploading image", error)
                    })
                uploadTask.then((url) => {
                    // console.log(url)
                    this.$emit("input", {
                        imageURL: url,
                        name: imageFile.name,
                    })
                })
            }
        },
    },
}
</script>

<style></style>
