<template>
    <v-app-bar
        app
        elevate-on-scroll
        height="100"
        class="center-app-bar bg-white"
    >
        <div class="header-title">
            <nuxt-link class="reset-home-link" to="/">Software AIB</nuxt-link>
        </div>

        <v-spacer></v-spacer>

        <v-col cols="4" sm="4">
            <v-autocomplete
                v-model="searchInput"
                :items="searchItems"
                placeholder="Search..."
                filled
                rounded
                dense
                prepend-inner-icon="mdi-magnify"
                hide-details="auto"
                class="input-slot-pl"
                color="black"
                item-text="title"
                return-object
            >
                <template #item="{ item }">
                    <!-- <nuxt-link to="`/articles/${item.id}`"> -->
                    <v-list-item-avatar
                        color="indigo"
                        class="text-h5 font-weight-light white--text"
                    >
                        <v-img :src="item.imageLink"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                        <v-list-item-title
                            v-text="item.title"
                        ></v-list-item-title>
                    </v-list-item-content>
                    <v-list-item-action>
                        <v-icon>mdi-book-open-page-variant-outline</v-icon>
                    </v-list-item-action>
                    <!-- </nuxt-link> -->
                </template>
            </v-autocomplete>
        </v-col>

        <v-spacer></v-spacer>
        <v-btn text to="/article" nuxt data-cy="nav-articles"> Articles </v-btn>
        <v-btn v-show="isAuthenticated" text to="/profile" nuxt>
            Profile
        </v-btn>
        <v-btn
            v-show="isAuthenticated"
            data-cy="auth-logout"
            text
            @click="logOut"
        >
            Logout
        </v-btn>
        <v-btn
            v-show="!isAuthenticated"
            data-cy="auth-login"
            text
            to="/auth/login"
            nuxt
        >
            Login
        </v-btn>
    </v-app-bar>
</template>

<script>
import { mapGetters, mapState, mapActions } from "vuex"

export default {
    data: () => ({
        searchItems: [],
        searchInput: "",
    }),

    computed: { ...mapGetters(["isAuthenticated"]), ...mapState(["user"]) },
    watch: {
        searchInput(item) {
            if (item && item.id) {
                this.$router.push(`/article/${item.id}`)
            }
        },
    },
    async mounted() {
        // console.log(this.user)
        const articlesRef = this.$fire.database.ref("articles")

        try {
            const snapshot = await articlesRef.once("value")
            const response = snapshot.val()
            const result = []
            for (const key in response) {
                result.push({ ...response[key], id: key })
            }
            this.searchItems = result
        } catch (e) {
            console.error(e)
        }
    },
    methods: {
        ...mapActions(["logOut"]),
        // customFilter(item, queryText, itemText) {
        //     const textOne = item.name.toLowerCase()
        //     const textTwo = item.abbr.toLowerCase()
        //     const searchText = queryText.toLowerCase()

        //     return textOne.includes(searchText) || textTwo.includes(searchText)
        // },
    },
}
</script>

<style scoped>
.header-title {
    font-size: 30px;
    font-weight: bold;
}
.reset-home-link {
    text-decoration: none;
    color: black;
}

.v-btn {
    text-transform: unset !important;
    font-size: 20px;
}

.center-app-bar {
    margin: 0 auto !important;
    padding: 0 7%;
}
</style>

<style>
.v-text-field__slot {
    padding-left: 10px !important;
}
.bg-white {
    background-color: #fff !important;
}
</style>
