<template>
    <div class="profileHeader text-center">
        <v-avatar class="imagePosition" size="250" data-cy="profile-photo">
            <img :src="avatar" alt="profile-photo" />
        </v-avatar>
        <h1 class="profileName" data-cy="profile-name">
            {{ profileInfo.fullname }}
        </h1>
        <p class="profileBio" data-cy="profile-bio">
            {{ profileInfo.bioinfo }}
        </p>
    </div>
</template>

<script>
export default {
    name: "ProfileHeader",
    props: {
        profileInfo: {
            type: Object,
            required: true,
        },
    },
    data: () => ({
        avatar: "",
    }),

    async mounted() {
        this.avatar = await this.getAvatarURL()
    },
    methods: {
        async getAvatarURL() {
            if (this.profileInfo.profileImage) {
                return this.profileInfo.profileImage
            }
            const userAvatar = this.$fire.storage.ref(
                "static/unknown_user_avatar.jpeg"
            )
            try {
                return await userAvatar.getDownloadURL()
            } catch (e) {
                console.error(e)
            }
        },
    },
}
</script>

<style lang="scss" scoped>
.profileHeader {
    margin: 0 auto;
}

.imagePosition {
    margin: 0 auto;
}

.bioDiv {
    display: flex;
    justify-content: center;

    margin-bottom: 5%;
    padding: 0 10%;
}

.profileName {
    color: #333;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;

    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    color: #000000;
}

.profileBio {
    color: #666;
    text-align: center;
    padding-top: 20px;

    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;

    color: #000000;
}
</style>
