<template>
    <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
            <v-alert
                v-show="error"
                data-cy="auth-alert-error"
                dense
                type="error"
            >
                Error: {{ feedback }}
            </v-alert>
            <v-alert
                v-show="success"
                data-cy="auth-alert-success"
                dense
                text
                type="success"
            >
                Logged in successfully
            </v-alert>
            <v-card class="elevation-2">
                <v-toolbar dark color="black" class="">
                    <v-toolbar-title> Login to account </v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                    <v-form>
                        <!-- email -->
                        <v-text-field
                            v-model="email"
                            prepend-icon="mdi-email"
                            name="email"
                            label="Email"
                            type="text"
                            placeholder="Enter email"
                            color="black"
                            data-cy="auth-email"
                        ></v-text-field>

                        <!-- password -->
                        <v-text-field
                            id="password"
                            v-model="password"
                            prepend-icon="mdi-lock"
                            name="password"
                            label="Password"
                            type="password"
                            placeholder="Enter password"
                            color="black"
                            data-cy="auth-password"
                        ></v-text-field>
                    </v-form>
                </v-card-text>
                <v-card-actions class="px-3">
                    <v-btn
                        dark
                        color="black"
                        block
                        data-cy="auth-button"
                        @click="loginUser"
                    >
                        Login
                    </v-btn>
                </v-card-actions>
            </v-card>
            <div class="d-flex justify-center align-center py-4">
                <div class="pr-4">Don't have an account?</div>
                <v-btn to="/auth/register" nuxt data-cy="auth-button-page">
                    Sign Up
                </v-btn>
            </div>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
    name: "LoginPage",
    layout: "plain",
    data: () => ({
        isLogin: true,
        username: "",
        fullname: "",
        email: "",
        password: "",
        error: false,
        success: false,
        feedback: "",
        avatar: null,
    }),
    methods: {
        loginUser() {
            const payload = {
                email: this.email,
                password: this.password,
            }

            this.$store
                .dispatch("logIn", payload)
                .then((e) => {
                    this.success = true
                    this.error = false
                    this.$router.push("/")
                })
                .catch((e) => {
                    console.log(e)
                    this.error = true
                    this.feedback = e.message
                })
        },
    },
}
</script>

<style lang="scss" scoped>
.profile-picture {
    max-width: 50%;
}
</style>
