<template>
    <v-layout align-center justify-center>
        <v-flex xs12 sm8 md4>
            <v-alert
                v-show="error"
                dense
                type="error"
                data-cy="auth-alert-error"
            >
                Error: {{ feedback }}
            </v-alert>
            <v-alert
                v-show="success"
                dense
                text
                type="success"
                data-cy="auth-alert-success"
            >
                Account creation was successfully
            </v-alert>
            <v-card class="elevation-2">
                <v-toolbar dark color="black" class="">
                    <v-toolbar-title> Create an account </v-toolbar-title>
                </v-toolbar>
                <v-card-text>
                    <v-form>
                        <!-- image uploader -->
                        <div
                            class="profile-picture my-3"
                            data-cy="auth-profile-picture"
                        >
                            <image-uploader v-model="avatar">
                                <div slot="activator">
                                    <div
                                        v-if="!avatar"
                                        class="black rounded-xl pa-4"
                                    >
                                        <v-avatar
                                            v-ripple
                                            width="100%"
                                            height="100"
                                            tile
                                            class="white rounded-xl"
                                        >
                                            <div
                                                class="upload-border rounded-xl pa-4"
                                            >
                                                <div class="mt-2">
                                                    <v-icon large color="black">
                                                        mdi-cloud-upload-outline
                                                    </v-icon>
                                                </div>
                                            </div>
                                        </v-avatar>
                                    </div>
                                    <div v-else class="white rounded pa-4">
                                        <v-avatar
                                            v-ripple
                                            width="100"
                                            height="100"
                                            rounded
                                        >
                                            <v-img
                                                class="ma-10 rounded-xl"
                                                :src="avatar.imageURL"
                                                alt="avatar"
                                                cover
                                            ></v-img>
                                        </v-avatar>
                                    </div>
                                </div>
                            </image-uploader>
                        </div>
                        <v-row>
                            <v-col cols="6">
                                <!-- username -->
                                <v-text-field
                                    v-model="username"
                                    prepend-icon="mdi-at"
                                    name="username"
                                    label="Username"
                                    type="text"
                                    placeholder="Enter username"
                                    color="black"
                                    data-cy="auth-username"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <!-- fullname -->
                                <v-text-field
                                    v-model="fullname"
                                    prepend-icon="mdi-account"
                                    name="fullname"
                                    label="Full name"
                                    type="text"
                                    placeholder="Enter full name"
                                    color="black"
                                    data-cy="auth-fullname"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="6">
                                <!-- email -->
                                <v-text-field
                                    v-model="email"
                                    prepend-icon="mdi-email"
                                    name="email"
                                    label="Email"
                                    type="text"
                                    placeholder="Enter email"
                                    color="black"
                                    data-cy="auth-email"
                                ></v-text-field>
                            </v-col>

                            <v-col cols="6">
                                <!-- password -->
                                <v-text-field
                                    id="password"
                                    v-model="password"
                                    prepend-icon="mdi-lock"
                                    name="password"
                                    label="Password"
                                    type="password"
                                    placeholder="Enter password"
                                    color="black"
                                    data-cy="auth-password"
                                ></v-text-field>
                            </v-col>
                            <v-col cols="12">
                                <!-- password -->
                                <v-textarea
                                    v-model="bioinfo"
                                    outlined
                                    name="text-input"
                                    label="Bio information"
                                    placeholder="Enter your bio information"
                                    color="black"
                                    data-cy="auth-bio"
                                ></v-textarea>
                            </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
                <v-card-actions class="px-3">
                    <v-btn
                        dark
                        color="black"
                        block
                        data-cy="auth-button"
                        @click="registerUser"
                    >
                        Sign Up
                    </v-btn>
                </v-card-actions>
            </v-card>
            <div class="d-flex justify-center align-center py-4">
                <div class="pr-4">Already have an account?</div>
                <v-btn to="/auth/login" nuxt data-cy="auth-button-page">
                    Login
                </v-btn>
            </div>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
    name: "RegisterPage",
    layout: "plain",
    data: () => ({
        username: "",
        fullname: "",
        email: "",
        password: "",
        bioinfo: "",
        error: false,
        success: false,
        feedback: "",
        avatar: null,
    }),
    methods: {
        registerUser() {
            const { username, fullname, email, password, bioinfo, avatar } =
                this
            const payload = {
                username,
                fullname,
                email,
                password,
                bioinfo,
                profileImage: avatar && avatar.imageURL,
            }

            this.$store
                .dispatch("registerUser", payload)
                .then((e) => {
                    this.success = true
                    this.error = false
                    this.$router.push("/auth/login")
                })
                .catch((e) => {
                    console.error(e)
                    this.error = true
                    this.success = false
                    this.feedback = e.message
                })
        },
    },
}
</script>

<style lang="scss" scoped>
.profile-picture {
    max-width: 50%;
}
</style>
