<template>
    <v-sheet elevation="4" class="compose mx-auto" width="70%">
        <div class="pa-8">
            <form>
                <h3 class="mb-4">Compose Article:</h3>
                <v-text-field
                    v-model="title"
                    :error-messages="titleErrors"
                    label="Title"
                    required
                    color="black"
                    data-cy="compose-title"
                    @input="$v.title.$touch()"
                    @blur="$v.title.$touch()"
                ></v-text-field>
                <v-file-input
                    v-model="imageLink"
                    truncate-length="15"
                    label="Featured Image"
                    accept="image/*"
                    color="black"
                    data-cy="compose-image"
                ></v-file-input>
                <div class="mb-6">
                    <client-only>
                        <editor
                            v-model="content"
                            data-cy="compose-content"
                            api-key="06j1sdk82snkig4i7v5u03ne6nrs1dabbh9ftqntbcutrvv6"
                            :init="{
                                height: 500,
                                menubar: false,
                                plugins: [
                                    'advlist autolink lists link image charmap print preview anchor',
                                    'searchreplace visualblocks code fullscreen',
                                    'insertdatetime media table paste code help wordcount',
                                ],
                                toolbar:
                                    'undo redo | formatselect | bold italic backcolor | alignleft aligncenter alignright \
                        alignjustify | bullist numlist outdent indent | removeformat | help',
                            }"
                        />
                    </client-only>
                </div>

                <div class="d-flex justify-space-between">
                    <v-btn to="/profile" nuxt data-cy="compose-cancel">
                        Return
                    </v-btn>
                    <v-btn
                        class=""
                        color="purple"
                        dark
                        data-cy="compose-action"
                        @click="createArticle"
                    >
                        Create Article
                    </v-btn>
                </div>
            </form>
        </div>
    </v-sheet>
</template>

<script>
import { mapGetters, mapState } from "vuex"
import { validationMixin } from "vuelidate"
import { required, minLength } from "vuelidate/lib/validators"
import Editor from "@tinymce/tinymce-vue"

export default {
    name: "ComposeArticle",
    components: { editor: Editor },
    mixins: [validationMixin],
    middleware: ["auth"],
    validations: {
        title: { required, minLength: minLength(10) },
        content: { required },
    },
    data: () => ({
        title: "",
        imageLink: "",
        content: "",
    }),
    async fetch() {
        // console.log(this)
        const { uid: userId } = this.user
        const userRef = this.$fire.database.ref(`users/${userId}`)
        try {
            const snapshot = await userRef.once("value")
            const response = snapshot.val()
            this.profileInfo = response
            // console.log(response, this.user.uid)
        } catch (e) {
            console.error(e)
        }

        const userArticlesRef = this.$fire.database.ref(
            `user_articles/${userId}`
        )
        const articlesRef = this.$fire.database.ref("articles")
        try {
            const articlesSnapshot = await articlesRef.once("value")
            const articles = articlesSnapshot.val()
            const articleIdsSnapshot = await userArticlesRef.once("value")
            const articleIds = articleIdsSnapshot.val()

            // console.log(articleIds)
            for (const key in articleIds) {
                if (articleIds[key]) {
                    this.result.push({ ...articles[key], id: key })
                }
            }
        } catch (e) {
            console.error(e)
        }
    },

    computed: {
        ...mapGetters(["isAuthenticated"]),
        ...mapState(["user"]),
        titleErrors() {
            const errors = []
            if (!this.$v.title.$dirty) return errors
            !this.$v.title.minLength &&
                errors.push("Title must be at least 10 characters long")
            !this.$v.title.required && errors.push("Title is required.")
            return errors
        },
    },
    watch: {
        imageLink() {
            console.log(this.imageLink)
        },
    },
    methods: {
        async getCurrentUser() {
            const userId = this.user.uid
            const userRef = this.$fire.database.ref(`users/${userId}`)
            try {
                const userSnapshot = await userRef.once("value")
                return userSnapshot.val()
            } catch (e) {
                console.error(e)
            }
        },
        async getImageLink() {
            let imageURL = ""
            const { imageLink } = this
            const imageRef = this.$fire.storage.ref(`images/${imageLink.name}`)

            try {
                const uploadTask = await imageRef.put(imageLink)
                imageURL = await imageRef.getDownloadURL()
                console.log(uploadTask, imageURL)
            } catch (e) {
                console.error(e)
            }

            return imageURL
        },
        async createArticle() {
            const { title, content, user } = this
            const userId = user.uid
            const { fullname } = await this.getCurrentUser()
            const imageLink = await this.getImageLink()
            const payload = {
                title,
                imageLink,
                content,
                author: fullname,
                createdAt: new Date().toLocaleString(),
            }
            console.log(payload)
            const articlesRef = this.$fire.database.ref("articles")
            const articleUserRef = this.$fire.database.ref("article_user")
            const userArticleRef = this.$fire.database.ref(
                `user_articles/${userId}`
            )
            try {
                const { key: articleId } = await articlesRef.push(payload)
                console.log(articleId)
                await articleUserRef.update({ [articleId]: userId })
                await userArticleRef.update({ [articleId]: true })
            } catch (e) {
                console.error(e)
            } finally {
                this.$router.push("/profile")
            }
        },
    },
}
</script>

<style>
.profile-page-posts {
    padding-left: 10%;
    padding-right: 10%;
}
.compose {
    min-width: 50%;
}
</style>
