<template>
    <div>
        <!-- {{ isAuthenticated }} -->
        <profile-header
            :profile-info="profileInfo"
            data-cy="profile-elements"
        ></profile-header>
        <div class="pageComponents">
            <v-container grid-list-xl class="marginBottom noPadding">
                <v-layout row wrap>
                    <article-card
                        v-for="(article, i) in result"
                        :key="i"
                        :article-info="article"
                        data-cy="profile-card"
                    ></article-card>
                </v-layout>
            </v-container>
            <create-button data-cy="compose-button"></create-button>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapState } from "vuex"
import ProfileHeader from "../../components/ProfileHeader.vue"
import ArticleCard from "../../components/ArticleCard.vue"
import CreateButton from "../../components/CreateButton.vue"

export default {
    name: "ProfilePage",
    components: { ProfileHeader, ArticleCard, CreateButton },
    middleware: ["auth"],

    data: () => ({
        result: [],
        profileInfo: {},
    }),

    async fetch() {
        const { uid: userId } = this.user
        const userRef = this.$fire.database.ref(`users/${userId}`)
        try {
            const snapshot = await userRef.once("value")
            const response = snapshot.val()
            this.profileInfo = response
            // console.log(response, this.user.uid)
        } catch (e) {
            console.error(e)
        }

        const userArticlesRef = this.$fire.database.ref(
            `user_articles/${userId}`
        )
        const articlesRef = this.$fire.database.ref("articles")
        try {
            const articlesSnapshot = await articlesRef.once("value")
            const articles = articlesSnapshot.val()
            const articleIdsSnapshot = await userArticlesRef.once("value")
            const articleIds = articleIdsSnapshot.val()

            // console.log(articleIds)
            for (const key in articleIds) {
                if (articleIds[key]) {
                    this.result.push({ ...articles[key], id: key })
                }
            }
        } catch (e) {
            console.error(e)
        }
    },
    computed: {
        ...mapGetters(["isAuthenticated"]),
        ...mapState(["user"]),
    },
}
</script>

<style>
.profile-page-posts {
    padding-left: 10%;
    padding-right: 10%;
}
</style>
