<template>
    <v-app>
        <NavBar></NavBar>
        <v-main>
            <Nuxt />
        </v-main>
        <FooterBar></FooterBar>
    </v-app>
</template>

<script>
export default {
    name: "DefaultLayout",
    data() {
        return {
            fluid: false,
        }
    },
}
</script>
