<template>
    <v-app>
        <v-main>
            <v-container fluid fill-height>
                <Nuxt />
            </v-container>
        </v-main>
    </v-app>
</template>

<script>
export default {
    name: "PlainLayout",
    data() {
        return {}
    },
}
</script>
