/* eslint-disable vue/no-v-html */
<template>
    <div>
        <div class="cover-layout cover-layout1">
            <img :src="article.imageLink" />
        </div>
        <div class="center pageComponents">
            <h1 class="header">{{ article.title }}</h1>
            <div class="author-date">
                <h2 class="author">Written by {{ article.author }}</h2>
                <h2 class="date">{{ article.createdAt }}</h2>
            </div>
            <hr />

            <p class="main-text" v-html="article.content"></p>

            <p class="sub-header">Other articles:</p>

            <v-container grid-list-xl class="marginBottom noPadding">
                <v-layout row wrap>
                    <article-card
                        v-for="(article, i) in result"
                        :key="i"
                        :article-info="article"
                    ></article-card>
                </v-layout>
            </v-container>

            <div class="sub-header">
                {{ isAuthenticated ? "Comments:" : "Login to comment" }}
            </div>

            <v-container
                v-if="isAuthenticated"
                grid-list-xl
                class="marginBottom noPadding"
            >
                <v-layout column>
                    <comment
                        v-for="comment in comments"
                        :key="comment.id"
                        :comment-info="comment"
                        :article-id="article.id"
                    ></comment>
                </v-layout>
            </v-container>

            <add-comment
                v-if="isAuthenticated"
                :article-id="article.id"
            ></add-comment>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex"
import AddComment from "../../components/AddComment.vue"
import ArticleCard from "../../components/ArticleCard.vue"
import Comment from "../../components/Comment.vue"

export default {
    name: "FullArticle",
    components: { AddComment, ArticleCard, Comment },
    async asyncData({ app, error, params }) {
        const { id: articleId } = params
        const articlesRef = app.$fire.database.ref("articles")
        const articleRef = app.$fire.database.ref(`articles/${articleId}`)

        const commentIdRef = app.$fire.database.ref(
            `article_comment/${articleId}`
        )
        const commentRef = app.$fire.database.ref("comments")
        try {
            // comments
            const commentSnapshot = await commentRef.once("value")
            const commentsObject = commentSnapshot.val()
            // commentIds
            const commentIdSnapshot = await commentIdRef.once("value")
            const commentIds = commentIdSnapshot.val()
            const comments = []
            for (const key in commentIds) {
                if (commentIds[key]) {
                    comments.push({ ...commentsObject[key], id: key })
                }
            }

            // article
            const articleSnapshot = await articleRef.once("value")
            const article = { ...articleSnapshot.val(), id: articleId }
            // articles
            const articlesSnapshot = await articlesRef
                .limitToFirst(3)
                .once("value")
            const articles = articlesSnapshot.val()
            // console.log(articles)
            const result = []
            for (const key in articles) {
                if (key !== articleId) {
                    result.push({ ...articles[key], id: key })
                }
            }
            return { result, article, comments }
        } catch (e) {
            console.error(e)
        }
    },

    computed: { ...mapGetters(["isAuthenticated"]) },
}
</script>

<style>
.cover-layout img {
    min-width: 100%;
    min-height: 100%;
}
.cover-layout1 img {
    object-fit: cover;
}
</style>

<style scoped>
.header {
    font-family: Inter, Sans-serif;
    margin-left: 5%;
    margin-top: 5%;

    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;

    color: #000;
}

.sub-header {
    margin-bottom: 5%;

    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;

    color: #000;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    max-height: 380px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.main-text {
    margin: 5%;
    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* color: #718096; */
    color: #2d3748;
}

.author-date {
    margin-left: 5%;
}

.author {
    float: left;
    margin-right: 5%;

    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #2d3748;
}

.date {
    margin: 2%;
    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #718096;
}
</style>
