<template>
    <div>
        <div class="cover-layout cover-layout1">
            <img src="/lastCover.jpg" />
        </div>
        <div class="center pageComponents">
            <h1 class="header">{{ lastArticleInfo.title }}</h1>
            <div class="author-date">
                <h2 class="author">Written by {{ lastArticleInfo.author }}</h2>
                <h2 class="date">{{ lastArticleInfo.createdAt }}</h2>
            </div>
            <hr />
            <p class="main-text">
                I'm meant to be writing at this moment. What I mean is, I'm
                meant to be writing something else at this moment. The document
                I'm meant to be writing is, of course, open in another program
                on my computer and is patiently awaiting my attention. Yet here
                I am plonking down senseless sentiments in this paragraph
                because it's easier to do than to work on anything particularly
                meaningful. I am grateful for the distraction "What is the best
                way to get what you want?" she asked. He looked down at the
                ground knowing that she wouldn't like his answer. He hesitated,
                knowing that the truth would only hurt. How was he going to tell
                her that the best way for him to get what he wanted was to leave
                her? The time to take action was now. All three men knew in
                their hearts this was the case, yet none of them moved a muscle
                to try. They were all watching and waiting for one of the others
                to make the first move so they could follow a step or two behind
                and help. The situation demanded a leader and all three men were
                followers.
            </p>

            <p class="sub-header">Benefits of this project</p>

            <p class="main-text">
                There are different types of secrets. She had held onto plenty
                of them during her life, but this one was different. She found
                herself holding onto the worst type. It was the type of secret
                that could gnaw away at your insides if you didn't tell someone
                about it, but it could end up getting you killed if you did. She
                counted. One. She could hear the steps coming closer. Two. Puffs
                of breath could be seen coming from his mouth. Three. He stopped
                beside her. Four. She pulled the trigger of the gun.
            </p>
            <p class="main-text">
                Dave watched as the forest burned up on the hill, only a few
                miles from her house. The car had been hastily packed and Marta
                was inside trying to round up the last of the pets. Dave went
                through his mental list of the most important papers and
                documents that they couldn't leave behind. He scolded himself
                for not having prepared these better in advance and hoped that
                he had remembered everything that was needed. He continued to
                wait for Marta to appear with the pets, but she still was
                nowhere to be seen. One dollar and eighty-seven cents. That was
                all. And sixty cents of it was in pennies. Pennies saved one and
                two at a time by bulldozing the grocer and the vegetable man and
                the butcher until one's cheeks burned with the silent imputation
                of parsimony that such close dealing implied. One dollar and
                eighty-seven cents. And the next day would be Christmas...
            </p>

            <p class="sub-header">Other articles by this author</p>

            <v-container grid-list-xl class="marginBottom noPadding">
                <v-layout row wrap>
                    <article-card
                        :article-info="lastArticleInfo"
                    ></article-card>
                    <article-card
                        :article-info="firstArticleInfo"
                    ></article-card>
                </v-layout>
            </v-container>

            <div class="sub-header">
                {{ isAuthenticated ? "Comments:" : "Login to comment" }}
            </div>

            <v-container
                v-if="isAuthenticated"
                grid-list-xl
                class="marginBottom noPadding"
            >
                <v-layout column>
                    <comment
                        v-for="(comment, i) in article.comments"
                        :key="i"
                        :comment-info="{ ...comment, id: i }"
                        :article-id="article.id"
                    ></comment>
                </v-layout>
            </v-container>

            <add-comment
                v-if="isAuthenticated"
                :article-id="article.id"
            ></add-comment>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
    name: "LastFullArticle",
    data: () => ({
        firstArticleInfo: {
            title: "What is our project about?",
            author: "Daniel, Marko, Nastya and Ozzie",
            content:
                "It all started with the computer. Had he known what was to follow, he would have never logged on that day. But the truth was there was no way to know what was about to happen. So Dave pressed the start button, the computer booted up, the screen came alive, and everything Dave knew to be true no longer was.",
            comments: {},
            createdAt: "February 20th 2022",
            updatedAt: "",
            imageLink: "/firstArticle.jpg",
            id: "complex_id1",
        },
        lastArticleInfo: {
            title: "How did we manage to achieve it?",
            author: "Daniel, Marko, Nastya and Ozzie",
            content:
                "I'm meant to be writing at this moment. What I mean is, I'm meant to be writing something else at this moment. The document I'm meant to be writing is, of course, open in another program on my computer and is patiently awaiting my attention. Yet here I am plonking down senseless sentiments in this paragraph because it's easier to do than to work on anything particularly meaningful. I am grateful for the distraction.",
            comments: {},
            createdAt: "April 20th 2022",
            updatedAt: "",
            imageLink: "/lastArticle.jpg",
            id: "complex_id2",
        },
    }),
    computed: { ...mapGetters(["isAuthenticated"]) },
}
</script>

<style>
.cover-layout img {
    min-width: 100%;
    min-height: 100%;
}
.cover-layout1 img {
    object-fit: cover;
}
</style>

<style scoped>
.header {
    font-family: Inter, Sans-serif;
    margin-left: 5%;
    margin-top: 5%;

    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;

    color: #000;
}

.sub-header {
    margin: 5%;

    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    max-height: 380px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.main-text {
    margin: 5%;
    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* color: #718096; */
    color: #2d3748;
}

.author-date {
    margin-left: 5%;
}

.author {
    float: left;
    margin-right: 5%;

    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #2d3748;
}

.date {
    margin: 2%;
    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #718096;
}
</style>
