<template>
    <div>
        <div class="cover-layout cover-layout1">
            <img src="/firstCover.jpg" />
        </div>
        <div class="center pageComponents">
            <h1 class="header">{{ firstArticleInfo.title }}</h1>
            <div class="author-date">
                <h2 class="author">Written by {{ firstArticleInfo.author }}</h2>
                <h2 class="date">{{ firstArticleInfo.createdAt }}</h2>
            </div>
            <hr />
            <p class="main-text">
                It all started with the computer. Had he known what was to
                follow, he would have never logged on that day. But the truth
                was there was no way to know what was about to happen. So Dave
                pressed the start button, the computer booted up, the screen
                came alive, and everything Dave knew to be true no longer was.
            </p>
            <p class="main-text">
                Housework could be everyone's work, not just "women's work". Why
                do women enable men to act oblivious to cleaning, grocery
                shopping, pet feeding, etc? Somehow when men live alone they
                figure out how to do all of those things all on their own. My
                friend's husband claimed he didn't know that sheets should be
                washed more than once a season. He said he didn't know one had
                to clean toilets. He assumed that since you flush toilets they
                clean themselves. She tried to get him to help but he did an
                awful job so she let him off the hook. Wouldn't it be better if
                she spent the time and energy to get him to do it right instead
                of letting him claim he is “just bad at it”. My sons were raised
                to clean toilets and change their own sheets. Hopefully, in
                their future homes, the housework will be equally divided.
            </p>
            <p class="sub-header">We did our best</p>
            <p class="main-text">
                Don't forget that gifts often come with costs that go beyond
                their purchase price. When you purchase a child the latest
                smartphone, you're also committing to a monthly phone bill. When
                you purchase the latest gaming system, you're likely not going
                to be satisfied with the games that come with it for long and
                want to purchase new titles to play. When you buy gifts it's
                important to remember that some come with additional costs down
                the road that can be much more expensive than the initial gift
                itself.
            </p>

            <p class="sub-header">Other articles by this author</p>

            <v-container grid-list-xl class="marginBottom noPadding">
                <v-layout row wrap>
                    <article-card
                        :article-info="firstArticleInfo"
                    ></article-card>
                    <article-card
                        :article-info="lastArticleInfo"
                    ></article-card>
                </v-layout>
            </v-container>

            <div class="sub-header">
                {{ isAuthenticated ? "Comments:" : "Login to comment" }}
            </div>

            <v-container
                v-if="isAuthenticated"
                grid-list-xl
                class="marginBottom noPadding"
            >
                <v-layout column>
                    <comment
                        v-for="(comment, i) in article.comments"
                        :key="i"
                        :comment-info="{ ...comment, id: i }"
                        :article-id="article.id"
                    ></comment>
                </v-layout>
            </v-container>

            <add-comment
                v-if="isAuthenticated"
                :article-id="article.id"
            ></add-comment>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex"

export default {
    name: "FirstFullArticle",
    data: () => ({
        firstArticleInfo: {
            title: "What is our project about?",
            author: "Daniel, Marko, Nastya and Ozzie",
            content:
                "It all started with the computer. Had he known what was to follow, he would have never logged on that day. But the truth was there was no way to know what was about to happen. So Dave pressed the start button, the computer booted up, the screen came alive, and everything Dave knew to be true no longer was.",
            comments: {},
            createdAt: "February 20th 2022",
            updatedAt: "",
            imageLink: "/firstArticle.jpg",
            id: "complex_id1",
        },
        lastArticleInfo: {
            title: "How did we manage to achieve it?",
            author: "Daniel, Marko, Nastya and Ozzie",
            content:
                "I'm meant to be writing at this moment. What I mean is, I'm meant to be writing something else at this moment. The document I'm meant to be writing is, of course, open in another program on my computer and is patiently awaiting my attention. Yet here I am plonking down senseless sentiments in this paragraph because it's easier to do than to work on anything particularly meaningful. I am grateful for the distraction.",
            comments: {},
            createdAt: "April 20th 2022",
            updatedAt: "",
            imageLink: "/lastArticle.jpg",
            id: "complex_id2",
        },
    }),
    computed: { ...mapGetters(["isAuthenticated"]) },
}
</script>

<style>
.cover-layout img {
    min-width: 100%;
    min-height: 100%;
}
.cover-layout1 img {
    object-fit: cover;
}
</style>

<style scoped>
.header {
    font-family: Inter, Sans-serif;
    margin-left: 5%;
    margin-top: 5%;

    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;

    color: #000;
}

.sub-header {
    margin: 5%;

    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1500px;
    max-height: 380px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.main-text {
    margin: 5%;
    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    /* color: #718096; */
    color: #2d3748;
}

.author-date {
    margin-left: 5%;
}

.author {
    float: left;
    margin-right: 5%;

    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;

    color: #2d3748;
}

.date {
    margin: 2%;
    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    color: #718096;
}
</style>
