<template>
    <div id="app" class="pageComponents mt-4">
        <v-container grid-list-xl class="marginBottom noPadding">
            <p class="sub-header">Featured articles:</p>
            <v-layout row wrap>
                <article-card
                    v-for="(article, i) in result"
                    :key="i"
                    :article-info="article"
                    data-cy="articles-card"
                ></article-card>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
import ArticleCard from "../../components/ArticleCard.vue"

export default {
    name: "ArticlesPage",
    components: { ArticleCard },
    async asyncData({ app, error, params }) {
        const articlesRef = app.$fire.database.ref("articles")

        try {
            const snapshot = await articlesRef.once("value")
            const response = snapshot.val()
            const result = []
            for (const key in response) {
                result.push({ ...response[key], id: key })
            }
            return { result }
        } catch (e) {
            console.error(e)
        }
    },
}
</script>

<style lang="scss" scoped>
.articles-page-posts {
    padding-left: 10%;
    padding-right: 10%;
}

.sub-header {
    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000;
}
</style>

<style lang="scss">
.pageComponents {
    max-width: 1500px;
    align-self: center;
    margin: auto auto;
}
</style>
