<template>
    <div>
        <div class="homeBanner marginBottom" data-cy="home-banner">
            <v-row align="center">
                <v-col cols="6">
                    <v-container>
                        <div class="headtext">
                            Software Quality Reliability and Security
                        </div>
                        <div class="subtext">why learn this course?</div>
                    </v-container>
                </v-col>

                <v-col cols="6">
                    <v-img src="/home-1.png" alt="home"></v-img>
                </v-col>
            </v-row>
        </div>

        <div class="homeComponents">
            <horizontal-card
                :first-article-info="firstArticleInfo"
                data-cy="home-card"
            ></horizontal-card>

            <v-container grid-list-xl class="marginBottom noPadding">
                <v-layout row wrap>
                    <article-card
                        v-for="(article, i) in result"
                        :key="i"
                        :article-info="article"
                        data-cy="home-card"
                    ></article-card>
                </v-layout>
            </v-container>

            <horizontal-card-big
                :last-article-info="lastArticleInfo"
                data-cy="home-card"
            ></horizontal-card-big>
        </div>
    </div>
</template>

<script>
import ArticleCard from "../components/ArticleCard.vue"
import HorizontalCard from "../components/HorizontalCard.vue"
import HorizontalCardBig from "../components/HorizontalCardBig.vue"

export default {
    name: "IndexPage",
    components: { HorizontalCard, ArticleCard, HorizontalCardBig },
    async asyncData({ app, error, params }) {
        const articlesRef = app.$fire.database.ref("articles")

        try {
            const snapshot = await articlesRef.once("value")
            const response = snapshot.val()
            const result = []
            for (const key in response) {
                result.push({ ...response[key], id: key })
            }
            return { result }
        } catch (e) {
            console.error(e)
        }
    },
    data: () => ({
        firstArticleInfo: {
            title: "What is our project about?",
            author: "Daniel, Marko, Nastya and Ozzie",
            content:
                "It all started with the computer. Had he known what was to follow, he would have never logged on that day. But the truth was there was no way to know what was about to happen. So Dave pressed the start button, the computer booted up, the screen came alive, and everything Dave knew to be true no longer was.",
            comments: {},
            createdAt: "February 20th 2022",
            updatedAt: "",
            imageLink: "/firstArticle.jpg",
            id: "complex_id1",
        },
        lastArticleInfo: {
            title: "How did we manage to achieve it?",
            author: "Daniel, Marko, Nastya and Ozzie",
            content:
                "I'm meant to be writing at this moment. What I mean is, I'm meant to be writing something else at this moment. The document I'm meant to be writing is, of course, open in another program on my computer and is patiently awaiting my attention. Yet here I am plonking down senseless sentiments in this paragraph because it's easier to do than to work on anything particularly meaningful. I am grateful for the distraction.",
            comments: {},
            createdAt: "April 20th 2022",
            updatedAt: "",
            imageLink: "/lastArticle.jpg",
            id: "complex_id2",
        },
    }),
}
</script>

<style scoped>
.homeComponents {
    max-width: 1500px;
    align-self: center;
    margin: auto auto;
}

.homeBanner {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    padding: 7%;

    background: #fbfbfb;
}

.headtext {
    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 73px;

    color: #000000;
}

.subtext {
    font-family: Inter, Sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;

    color: #4a5568;
}
</style>

<style lang="scss">
.marginBottom {
    margin-bottom: 2cm;
}

.noPadding {
    padding: 0%;
}
</style>
